@font-face {
    font-family: Duke Fill;
    src: url(fonts/Duke\ Fill.ttf);
}
@font-face {
    font-family: TT Lakes Medium DEMO;
    src: url(fonts/TT\ Lakes\ Medium.otf);
}
* {
    margin: 0;
    padding: 0;
}
.container {
    height: 100vh;
    width: 100%;
}
.nav { 
    display: flex;
    width: 100%;
    background-color: BLACK;
    position: fixed; /* Fixed position */
    top: 0; /* Align at the top */
    left: 0; /* Align at the left edge */
    z-index: 1000; /* Ensure it stays on top */
}
.nav1 {
    width: 10%;
}
.nav2 {
    display: flex;
    align-items: center;
    width: 70%;
    gap: 20px;
}
.nav2 a {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    font-family: Duke Fill;
    padding-left: 15px;
    text-decoration: none;
    color: white;
}
.nav2 a:hover {
    color: red;
}
.nav3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.nav3 button {
    font-family: TT Lakes Medium DEMO;
    cursor: pointer;
    font-size: 18px;
    color: #f3f3f3;
    width: 95%;
    height: 70%;
    background-color: #da292a;
    border: 0;
}
.store {
    display: flex;
    justify-content: space-evenly;
    height: 13%;
    width: 100%;
    background-color: #da292a;
    margin-top: 50px; /* Add margin to avoid overlap with fixed navbar */
}
.store1 {
    border-left: 1px solid rgba(244, 238, 238, 0.17);
    font-weight: normal;
    font-size: 20px;
    font-family: Duke Fill;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 50%;
}
.store2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.store2 img {
    margin-top: 40px;
    object-fit: contain;
    height: 100%;
}
.store3 {
    border-left: 1px solid rgba(244, 238, 238, 0.17);
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(244, 238, 238, 0.17);
    width: 50%;
}
.store3 button {
    margin-top: 10px;
    border: 0px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    font-family: TT Lakes Medium DEMO;
    padding: 16px 24px;
    color: #161616aa;
}
.spotlight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.video {
    width: 100%;
    height: 650px;
}
.video video {
    object-fit: cover;
    width: 100%;
    height: 650px;
}
.video2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50%;
    height: 50%;
}
.video2 img {
    height: 200px;
    width: 30%;
}
.video2 h2 {
    width: 100%;
    font-family: TT Lakes Medium DEMO;
    color: white;
}
.video2 .vidbutton {
    width: 90%;
    height: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
}
.vidbutton button {
    border: 0;
    border-radius: 5px;
    font-family: TT Lakes Medium DEMO;
    cursor: pointer;
    font-size: 18px;
    color: #f3f3f3;
    background-color: #da292a;
    padding: 20px 20px;
}
.spotlight2{
    display: flex;
    align-items: center;
    width: 100%;
}
.cahos{
    width: 100%;
    height: 70%;
    background-color: rgb(40, 37, 37);
}
.cahos img{
    object-fit: cover;
    width: 100%;
}
.pc{
    position: absolute;
    text-align: center;
    width: 45%;
    margin-left: 5%;
}
.pc h1{
    width: 100%;
    font-family: Duke Fill;
    font-size: 50px;
}
.pc h6{
    width: 100%;
    color: #16161696;
    font-family: TT Lakes Medium DEMO;
    font-size: 18px;
    text-transform: lowercase;
}
.pc button{
    border: 0;
    border-radius: 5px;
    font-family: TT Lakes Medium DEMO;
    cursor: pointer;
    font-size: 18px;
    color: #f3f3f3;
    background-color: #da292a;
    padding: 15px 15px;
}
.spotlight3{
    background-color: rgb(40, 37, 37);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spotlight3 h2{
    color: #f3f3f3;
    margin-top: 5%;
    font-family: Duke Fill;
    font-size: 45px;
}
.news{
    padding-top: 3%;
    gap: 20px;
    display: flex;
    width: 75%;
    height: 80%;
}
.news1{
    width: 100%;
    height: 80%;
    background-color: #141415 ;
}
.news1 img{
    width: 100%;
    height: 50%;
}
.ndetails span{
    margin-right: 20px;
    font-family: Duke Fill;
    color: #da292a;
}
.ndetails{
    font-family: Duke Fill;
    color: white;
    margin-left: 20px;
}
.ndetails h2{
    width: 100%;
    font-family: TT Lakes Medium DEMO;
    color: white;
    font-size: 20px;
}
.ndetails p{
    width: 100%;
    font-family: TT Lakes Medium DEMO;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}
.nfot{
    width: 100%;
    height: 7px;
    background-color: #da292a;
    margin-top: 80px;
}
.spotlight4{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.beyond{
    width: 100%;
    height: 125%;
}
.beyond img{
    height: 90%;
    width: 100%;
    object-fit: cover;
}
.beyond2{
    text-align: center;
    width: 65%;
    position: absolute;
    height: 90%;
    margin-bottom: 5%;
}
.bimg{
    gap: 30px;
    width: 100%;
    display: flex;
    margin-top: 20px;
}
.bimage{
    width: 50%;
    color: white;
    font-family: TT Lakes Medium DEMO;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bimage h3{
    width: 100%;
    margin-top: 4%;
}
.bimage p{
    width: 100%;
    margin-top: 20px;
}
.bimage img{
    width: 120%;
}
.btext{
    width: 100%;
}
.btext h1{
    width: 100%;
    font-size: 45px;
    margin-top: 3%;
    font-weight: 600;
    font-family: Duke Fill;
    color: white;
}
.btext h3{
    width: 100%;
    margin-top: 4%;
    font-family: TT Lakes Medium DEMO;
    color: white;
}
.spotlight5{
    background-color: rgb(40, 37, 37);
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    margin-top: 10%;
    width: 80%;
    height: 80%;
    display: flex;
}
.box1{
    color: aliceblue;
    width: 50%;
    height: 90%;
}
.box1 h1{
    width: 100%;
    font-family: Duke Fill;
    font-size: 45px;
    font-weight: 100;
}
.box1 p{
    width: 100%;
    margin-top: 10%;
    font-family: TT Lakes Medium DEMO;
}
.box2{
    width: 50%;
    height: 100%;
}
.input{
    width: 100%;
    height: 30%;
}
.input1{
    width: 96%;
    height: 50%;
}
.input1 input{
    padding-left: 4%;
    color: gray;
    font-size: 15px;
    border: 3px solid gray;
    width: 99%;
    height: 75%;
    border-radius: 4px;
    background-color: transparent;
}
.input1 input::placeholder{
    font-size: 15px;
}
.input2{
    gap: 5%;
    width: 100%;
    height: 50%;
    display: flex;
}
.input2 input{
    color: gray;
    padding-left: 4%;
    font-size: 15px;
    border: 3px solid gray;
    width: 47%;
    height: 75%;
    border-radius: 4px;
    background-color: transparent;
}
.input2 input::placeholder{
    font-size: 15px;
}
.input2 select{
    padding-left: 4%;
    border: 3px solid gray;
    width: 47%;
    height: 80%;
    border-radius: 4px;
    background-color: transparent;

}
.input2 select option{
    border: 3px solid black;
    width: 47%;
    height: 80%;
    border-radius: 4px;
    background-color: transparent;
}

.check{
    margin-top: 10%;
    width: 100%;
    height: 50%;
    display: flex;
}
.cbox{
    height: 100%;
    width: 5%;
}
.cbox input{
    background-color: rgb(40, 37, 37);
    height: 20px;
    width: 20px;
}
.ctext{
    color: #f3f3f3;
    font-family: TT Lakes Medium DEMO;
    font-size: 15px;
    height: 100%;
    width: 95%;
}
.ctext span{
    font-weight: normal;
    color:#da292a;
}
.cbtn{
    font-family: TT Lakes Medium DEMO;
    margin-top: 5%;
    margin-left: -30px;
    cursor: pointer;
    font-size: 18px;
    color: #f3f3f3;
    border-radius: 5px;
    width: 30%;
    height: 20%;
    background-color: #da292a;
    border: 0;
}
.spotlight6{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 85%;
}
.spotlight6 img{
    height: 85%;
    width: 100%;
}
.sbox{
    position: absolute;
    width: 80%;
    height: 72%;
}
.simage{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
}
.stext{
    text-align: center;
    width: 100%;
    height: 60%;
}
.stext h1{
    width: 100%;
    font-weight: normal;
    padding-top: 20px;
    font-size: 50px;
    font-family: Duke Fill;
    color: #f3f3f3;
}
.stext h4{
    width: 100%;
    padding-top: 30px;
    font-size: 20px;
    font-family: TT Lakes Medium DEMO;
    color: white;
}
.sbtn{
    font-family: TT Lakes Medium DEMO;
    margin-top: 5%;
    cursor: pointer;
    font-size: 18px;
    color: #f3f3f3;
    border-radius: 5px;
    width: 17%;
    height: 20%;
    background-color: #da292a;
    border: 0;
}
.sdisc{
    text-align: center;
    width: 100%;
    height: 20%;
}
.sdisc p{
    width: 100%;
    font-size: 15px;
    color:#f3f3f3;
    font-family: TT Lakes Medium DEMO;
}